* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#fcf5f5, #eff4fd);
    margin-top: 5rem;
}

.main-div {
    width: 30vw;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 32px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-bottom: 50px;
    color: purple;
}
.main-heading {
    display: flex;
    margin-top: 30px;
    padding: 20px 0 20px 20px;
    background: #f1f4ff;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #303243;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
}

.answers {
    display: flex;
    padding: 20px 0 20px 20px;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    word-spacing: 2px;
    font-weight: 400;
    line-height: 1.7;
    background: #fcf5f5;
    color: rgb(40, 37, 53);
}

.main-heading p {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background: #fff;
    padding: 5px;
}

.main-div1 {
    width: 85vw;
    height:fit-content;
    padding: 50px;
    background-color: white;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.details{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
}