.div-main {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.3;
    color: black;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 820px;
}

.div-head {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #333;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
}

.heading {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    text-align: center;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: .25rem;
    margin-top: 2.25rem;
    font-size: 40px;
    color: rgb(18, 110, 141);
}

.div-block {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #333;
    box-sizing: border-box;
    font-size: 1rem;
    margin-top: 2.5rem;
    text-align: center;
}

.div-row {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #333;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col-main {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #333;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    flex: 0 0 25%;
    max-width: 25%;
}

.div-col {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: 1rem;
    text-align: center;
    color: #ff7900;
    box-sizing: border-box;
    margin-bottom: 2rem;
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.heading4 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    text-align: center;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 1.3;
    font-size: 1rem;
    margin-bottom: .5rem;
    margin-top: .75rem;
    color: #4364a1;
}

.pic {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: #ff7900;
    box-sizing: border-box;
    display: inline-block;
    line-height: initial;
    height: 90px !important;
    width: 90px !important;
}

.more {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 1.25rem;
    width: 100%;
}

.view {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "din",sans-serif;
    line-height: 1.3;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 18px !important;
    color: rgb(255, 121, 0);
    cursor: pointer;
}