.borderdiable {
    border: none !important;

}
.forget {
    color: red;
    margin-left: 1.5rem;
    padding: auto;
    cursor: pointer;
}
.bg-landing-background1{
	background-image: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.75)), url('https://images.shiksha.com/mediadata/images/1565592818phpifLrOD.jpeg');
}
.col1{
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url('https://static.toiimg.com/thumb/msid-59324060,imgsize-67247,width-400,resizemode-4/59324060.jpg');
}
.col2{
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url('https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/305/2020/10/16/Campus%20View%20of%20Navrachana%20University%20Vadodara_Campus-View.png');
}
.col3{
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url('https://static.toiimg.com/thumb/msid-86547169,width-1200,height-900,resizemode-4/.jpg');
}
.col4{
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.1)), url('https://images.shiksha.com/mediadata/images/1565592818phpifLrOD.jpeg');
}
#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    margin: 1rem;
    padding: 1rem;
  }
  
  #grid > div {
   
   margin: 2rem;
  }
  #item{
      padding: auto;
      margin: 1rem;
      
  }

  tr:hover {background-color: lightgray;}
  
